/*Background style*/
*{
    background-color: lavender;
}
/*Heading style*/
.heading h2{
    color:darkmagenta;
}

/*Form Label Style */
.weatherForm{
    color:blue;
}
.Label{
    font-weight:bold;
    font-size:15px;
}
.Label::after{
    content: '*';
    color:red;
}
/*Error Message Styling*/
.error-message{
    color:red;
}
/*Weather Data*/
.weatherHeading{
    color:darkmagenta;
}
.weatherInfo{
   color: #3F000F;
}
@media screen and (max-width: 425px) {
    .weatherImage {
      text-align:center;
    }
  }
  
/*Card Item*/
.CardItem{
    border:2px solid grey !important;
}
