/*Body Style*/
*{
    background-color:lightgoldenrodyellow;
}
/*Heading Style*/
h3{
  color:blueviolet;
}
header{
    border:2px dashed blue;
}
/* Message Style*/
#message{
    color:green;
}
/*Table Style-Pokemon Name Style*/
td:nth-child(2)::first-letter{
    text-transform: uppercase;
}
